## Upload the data

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("data\clean\Data_Engineer\Data_Engineer_15-04-2023.csv", index_col=0, header=[0, 1])

In [42]:
# choose relevant columns
df.columns.tolist()

[('Job_details', 'Title'),
 ('Job_details', 'Description'),
 ('Job_details', 'Is_contract'),
 ('Job_details', 'Seniority'),
 ('Job_details', 'City'),
 ('Job_details', 'State'),
 ('Job_details', 'Country'),
 ('Job_details', 'Region'),
 ('Job_details', 'Job_age'),
 ('Job_details', 'Easy_apply'),
 ('Salary', 'Min'),
 ('Salary', 'Max'),
 ('Salary', 'Avg'),
 ('Salary', 'Currency'),
 ('Salary', 'Employer_provided'),
 ('Salary', 'Is_hourly'),
 ('Salary', 'Specified'),
 ('Company_info', 'Name'),
 ('Company_info', 'Rating'),
 ('Company_info', 'Employees'),
 ('Company_info', 'Type_of_ownership'),
 ('Company_info', 'Sector'),
 ('Company_info', 'Industry'),
 ('Company_info', 'Company_age'),
 ('Company_info', 'Revenue_USD'),
 ('Company_info', 'Friend_recommend'),
 ('Company_info', 'CEO_approval'),
 ('Company_info', 'Career_opportunities'),
 ('Company_info', 'Comp_&_benefits'),
 ('Company_info', 'Senior_management'),
 ('Company_info', 'Work/Life_balance'),
 ('Company_info', 'Culture_&_values'),
 ('Company_info', 'Pros'),
 ('Company_info', 'Cons'),
 ('Company_info', 'Benefits_rating'),
 ('Company_info', 'Benefits_reviews'),
 ('Education', 'BA'),
 ('Education', 'MS'),
 ('Education', 'Phd'),
 ('Education', 'Certificate'),
 ('Version_control', 'Git_SVN'),
 ('Cloud_platforms', 'AWS'),
 ('Cloud_platforms', 'Microsoft_Azure'),
 ('Cloud_platforms', 'GPC'),
 ('Cloud_platforms', 'Alibaba'),
 ('Cloud_platforms', 'Oracle'),
 ('Cloud_platforms', 'IBM'),
 ('Cloud_platforms', 'Tencent'),
 ('Cloud_platforms', 'OVHcloud'),
 ('Cloud_platforms', 'DigitalOcean'),
 ('Cloud_platforms', 'Lincode'),
 ('RDBMS', 'PostgreSQL'),
 ('RDBMS', 'Microsoft_SQL_Server'),
 ('RDBMS', 'IBM_Db2'),
 ('RDBMS', 'MySQL'),
 ('RDBMS', 'Oracle_PL_SQL'),
 ('NOSQL', 'MongoDB'),
 ('NOSQL', 'Cassandra'),
 ('NOSQL', 'Amazon_DynamoDB'),
 ('NOSQL', 'Neo4j'),
 ('Search_&_Analytics', 'Apache_Solr'),
 ('Search_&_Analytics', 'Amazon_Redshift'),
 ('Search_&_Analytics', 'Google_BigQuery'),
 ('Search_&_Analytics', 'Snowflake'),
 ('Search_&_Analytics', 'Oracle_Exadata'),
 ('Search_&_Analytics', 'SAP_HANA'),
 ('Search_&_Analytics', 'Teradata'),
 ('Data_integration_and_processing', 'Informatica_PowerCenter'),
 ('Data_integration_and_processing', 'Databricks'),
 ('Data_integration_and_processing', 'Presto'),
 ('Stream_processing_tools', 'Apache_Kafka'),
 ('Stream_processing_tools', 'Apache_Flink'),
 ('Stream_processing_tools', 'Dataflow'),
 ('Workflow_orchestration_tools', 'Apache_Airflow'),
 ('Workflow_orchestration_tools', 'Luigi'),
 ('Workflow_orchestration_tools', 'SSIS'),
 ('Big_Data_processing', 'Apache_Hadoop'),
 ('Big_Data_processing', 'Apache_Hive'),
 ('Big_Data_processing', 'Apache_Spark'),
 ('OS', 'Linux'),
 ('OS', 'Unix'),
 ('OS', 'Windows'),
 ('OS', 'macOS'),
 ('Programming_languages', 'Python'),
 ('Programming_languages', 'R'),
 ('Programming_languages', 'Scala'),
 ('Programming_languages', 'Julia'),
 ('Programming_languages', 'SQL'),
 ('Programming_languages', 'Java'),
 ('Programming_languages', 'C++'),
 ('Programming_languages', 'Go'),
 ('Programming_languages', 'Rust'),
 ('Programming_languages', 'Bash'),
 ('Programming_languages', 'PowerShell'),
 ('Programming_languages', 'CLI'),
 ('Business_Intelligence_Tools', 'Tableau'),
 ('Business_Intelligence_Tools', 'Power_BI'),
 ('Business_Intelligence_Tools', 'Google_Analytics'),
 ('Business_Intelligence_Tools', 'QlikView'),
 ('Business_Intelligence_Tools', 'Oracle_BI_server'),
 ('Business_Intelligence_Tools', 'SAS_Analytics'),
 ('Business_Intelligence_Tools', 'Lumira'),
 ('Business_Intelligence_Tools', 'Cognos_Impromptu'),
 ('Business_Intelligence_Tools', 'MicroStrategy'),
 ('Business_Intelligence_Tools', 'InsightSquared'),
 ('Business_Intelligence_Tools', 'Sisense'),
 ('Business_Intelligence_Tools', 'Dundas_BI'),
 ('Business_Intelligence_Tools', 'Domo'),
 ('Business_Intelligence_Tools', 'Looker'),
 ('Business_Intelligence_Tools', 'Excel'),
 ('Machine_Learning_Frameworks', 'Scikit'),
 ('Machine_Learning_Frameworks', 'TensorFlow'),
 ('Machine_Learning_Frameworks', 'PyTorch'),
 ('Machine_Learning_Frameworks', 'Keras'),
 ('Machine_Learning_Frameworks', 'SciPy'),
 ('Machine_Learning_Frameworks', 'OpenCV')]

### Select the relevant data

In [43]:
df_model = pd.DataFrame()

columns_to_move = [
    ('Job_details', 'Country'),
    ('Job_details', 'State'),
    ('Job_details', 'City'),
    ('Job_details', 'Job_age'),
    ('Salary', 'Avg'),
    ('Salary', 'Employer_provided'),
    ('Salary', 'Is_hourly'),
    ('Company_info', 'Rating'),
    ('Company_info', 'Employees'),
    ('Company_info', 'Type_of_ownership'),
    ('Company_info', 'Sector'),
    ('Company_info', 'Company_age'),
    ('Company_info', 'Revenue_USD'),
    ('Programming_languages', 'SQL'),
    ('Programming_languages', 'Python'),
    ('Programming_languages', 'Java'),
    ('Programming_languages', 'Scala'),
    ('Cloud_platforms', 'Microsoft_Azure'),
    ('Cloud_platforms', 'AWS'),
    ('Cloud_platforms', 'GPC'),
    ('Data_integration_and_processing', 'Databricks'),
    ('Search_&_Analytics', 'Snowflake'),
    ('Stream_processing_tools', 'Apache_Kafka')
]

extracted_columns = df.loc[:, columns_to_move]

extracted_columns.columns = extracted_columns.columns.droplevel(0)

extracted_columns = extracted_columns.rename(columns={'Avg': 'Salary_avg'})

df_model[extracted_columns.columns] = extracted_columns

df_model.columns

Index(['Country', 'State', 'City', 'Job_age', 'Salary_avg',
       'Employer_provided', 'Is_hourly', 'Rating', 'Employees',
       'Type_of_ownership', 'Sector', 'Company_age', 'Revenue_USD', 'SQL',
       'Python', 'Java', 'Scala', 'Microsoft_Azure', 'AWS', 'GPC',
       'Databricks', 'Snowflake', 'Apache_Kafka'],
      dtype='object')

In [44]:
bi_subcolumns = df['Business_Intelligence_Tools'].columns

is_true = df['Business_Intelligence_Tools'][bi_subcolumns].any(axis=1)
df_model['BI_Tools'] = is_true.astype(bool)

In [45]:
def get_the_place(row: pd.DataFrame):

    columns = ['Country', 'State', 'City']

    location_merged = ""

    for i, column in enumerate(columns):

        location = row[column]

        if i > 0 and location is not np.nan:
            location_merged += ", "

        if location == "Remote" and i > 0:
            continue

        if location is not np.nan:
            location_merged += location

    location_merged = location_merged.replace("_", " ")

    return location_merged


df_model['City'] = df_model.apply(get_the_place, axis=1)

In [46]:
columns_to_drop = ['Country', 'State']

df_model = df_model.drop(columns=columns_to_drop)

In [47]:
df_model.head()

,City,Job_age,Salary_avg,Employer_provided,Is_hourly,Rating,Employees,Type_of_ownership,Sector,Company_age,...,Python,Java,Scala,Microsoft_Azure,AWS,GPC,Databricks,Snowflake,Apache_Kafka,BI_Tools
0,"Australia, Melbourne",7,NaN,False,NaN,4.2,51 to 200,Company - Private,"Energy, Mining & Utilities",7.0,...,False,False,False,False,False,False,False,False,False,False
1,"Australia, North Sydney",2,82033.5,False,False,3.7,501 to 1000,Company - Public,Telecommunications,3.0,...,False,False,False,False,False,False,False,False,False,False
2,"Australia, Sydney",14,61017.0,True,False,3.9,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
3,"Australia, New South Wales",2,NaN,False,NaN,3.3,10000+,Company - Private,Retail & Wholesale,96.0,...,False,False,False,False,False,False,False,False,False,False
4,"Australia, Melbourne",17,73898.0,False,False,3.3,1001 to 5000,Company - Public,Financial Services,18.0,...,False,False,False,False,False,False,False,False,False,False

## Get dummy data